[2016-06-15 14:07] mnmtanish opened #8 "Display function type props properly"
Just mention that it's a function

![screen shot 2016-06-15 at 7 37 07 pm](https://cloud.githubusercontent.com/assets/136691/16082843/99393c46-3330-11e6-9008-df3b46988ec2.png)

[2016-06-15 14:09] mnmtanish opened #9 "Display react component type props properly"
Show their displayName. Showing it like jsx would be cool. Like `<HSplit />` for the example below.

![screen shot 2016-06-15 at 7 39 17 pm](https://cloud.githubusercontent.com/assets/136691/16082947/dd581cb2-3330-11e6-8944-0449a80e814e.png)

[2016-06-20 03:04] arunoda opened #11 "Write tests"
It's better to have tests for this projects. Write them.

cc @mnmtanish @roonyh

[2016-06-20 15:48] jurgob opened #12 "Module not found: Error: Cannot resolve module 'json' in"
I get this error if I try to import this module

ERROR in ./~/ent/encode.js
Module not found: Error: Cannot resolve module 'json' in /Users/jurgo.boemo/Workspace/platform/admin/src_js/node_modules/ent
 @ ./~/ent/encode.js 2:18-44

Here is my config file

[code]

[2016-06-20 17:41] danielkcz commented on #12
Same here, but I don't think that this can be solved on this package level. It's about configuring your webpack to have a json loader and enable it for `node_modules/ent`. It's not even loaded by this package but `markdown-to-react-components`.

Edit: Actually it would need to be specified in webpack configuration that storybook uses to bundle stories.

[2016-06-21 01:13] arunoda commented on #12
@FredyC Thanks for the input. I will be working on this today and will try to get rid of this issue.

[2016-06-21 02:43] arunoda commented on #12
@roonyh could you fork the markdown package and remove ent module or try to fix this out.

[2016-06-21 10:27] roonyh commented on #12
@arunoda @FredyC I added json loader to default storybook loaders. kadirahq/react-storybook#261 Should address this.

[2016-06-21 12:00] arunoda commented on #12
@roonyh as mentioned here https://github.com/kadirahq/react-storybook/pull/261#issuecomment-227407585

We may need to face for some other issue if we load the json-loader by default. So, we need to fork this markdown package.

And change that to use [he](https://www.npmjs.com/package/he) package instead of the ent. Then use that fork. Send a PR to the upstream as well.

Then we don't need to worry

[2016-06-21 12:08] roonyh commented on #12
@arunoda got it. 👍

[2016-06-21 16:26] arunoda commented on #12
version: `v3.0.4` comes with a fix for this. I just got the @roonyh's [forked version](https://github.com/kadirahq/markdown-to-react-components) of the `markdown-to-react-components` package.

@FredyC could you verify this.

[2016-06-22 22:42] kesne opened #15 "`row.defaultValue.toString()` breaks on some default values"

[2016-06-23 03:49] arunoda commented on #15
Yep. That's possible.
@roonyh could you work on this?

[2016-06-23 05:23] roonyh commented on #15
@arunoda Sure. Working on it now.

[2016-06-23 06:10] thani-sh commented on #8
Fixed with https://github.com/kadirahq/react-storybook-addon-info/pull/14

[2016-06-23 06:10] #8 closed

[2016-06-23 06:21] thani-sh commented on #9
Fixed with #14

[2016-06-23 06:21] #9 closed

[2016-06-23 06:32] roonyh commented on #15
@arunoda @kesne Please see #16 and let me know what you think.

[2016-06-23 16:36] ritz078 opened #17 "Better display for default props those are functions"
Currently it shows as
<img width="1256" alt="screen shot 2016-06-23 at 10 03 08 pm" src="https://cloud.githubusercontent.com/assets/5389035/16311524/9755c03e-398e-11e6-92e2-558868e42407.png">

Issues:
- Formatting and Highlighting not present
- Displayed code should be ES2015

[2016-06-24 08:28] roonyh commented on #17
Displaying default values is improved in #16 for functions and some other stuff as well. For functions only the function name is displayed. Function body is not shown at all. What do you think?

#16 is in v3.0.7

[2016-06-24 08:57] roonyh commented on #15
Fixed by #16

[2016-06-24 08:57] #15 closed

[2016-06-24 10:18] ritz078 opened #18 "Modifying state from decorator component does't work"
I am using a decorator `Container` that accepts the children. The children are cloned inside container so that they use the value from the container's state.

But the moment I use this plugin, it doesn't work because `Story` component comes in between `Container` and `children` and somehow children can't access the props passed by the `Container`. It just renders with the default props.

**Contain

[2016-06-24 10:23] ritz078 commented on #17
I understand its tough to show the whole function that too in ES2015. But just a function is incomplete information. It won't help the user anyway until that function is documented anywhere.

[2016-06-24 21:00] kesne opened #19 "zIndex thoughts?"
Right now the overlay doesn't have a zIndex defined. This has caused issues for us where components with a zIndex style appearing on top of the overlay.

Do you think it might make sense to either allow optionally defining a zIndex, or use the max value for zIndex for the overlay?

[2016-06-24 23:50] kesne opened #20 "Source inspection isn't useful when build for production"
Storybook by default uglifies when building for static deployments. This causes the source inspection to be relatively useless:

![image](https://cloud.githubusercontent.com/assets/498479/16353195/a9fd82a6-3a2b-11e6-8bd7-a76daf8158de.png)

You can write a custom config to remove the uglify plugin, but that seems like a hacky workaround the issue.

[2016-06-25 02:03] roonyh commented on #20
Defining a [displayName](https://facebook.github.io/react/docs/component-specs.html#displayname) for each component is the easiest solution to this.

[2016-06-25 02:20] kesne commented on #20
Do you think it'd be reasonable to include a display name babel transformer by default in the production Storybook Webpack?

[2016-06-25 02:39] roonyh commented on #20
Yes, I think that'll be great. Could you make a PR with it?

[2016-06-28 01:12] kesne opened #21 "Unkeyed array iteration warning in React"
Seen here: https://github.com/kadirahq/react-storybook-addon-info/blob/master/src/components/Props.js#L33

[2016-06-28 01:15] kesne opened #22 "Source is not copy-pasteable"
The spacing is all with padding, so when you copy/paste it, it's all collapsed.

[2016-06-28 02:43] arunoda commented on #21
Yep. Is it possible for you to send us a PR?

[2016-06-28 03:15] kesne commented on #21
Of course! https://github.com/kadirahq/react-storybook-addon-info/pull/23

[2016-06-28 04:23] arunoda commented on #21
Thanks.
Published a new release.

[2016-06-28 04:23] #21 closed

[2016-06-28 11:46] Maxhodges opened #26 "issue with proptable name on deployed static site"
under local host my story proptable heading shows

[code]

But after deployed as a [static site](https://white-rabbit-japan.github.io/Semantic-UI-React-Storybook/?selectedKind=Progress%20States&selectedStory=Success&full=0&down=0&left=1), the component name is mutilated. Is this due to minification or something?

[code]

[2016-06-28 12:02] roonyh commented on #26
Yes, this is due to minification.

You can specify a `displayName` for your component, to get around it.

`Progress.displayName = "Progress"`

[2016-06-28 13:21] Maxhodges commented on #26
@sorry but where exactly? can you give me some context with a demo? in my story? in my component?

[2016-06-28 13:26] roonyh commented on #26
Here is an example from this repo: https://github.com/kadirahq/react-storybook-addon-info/blob/master/src/components/Story.js#L286

[2016-06-28 14:27] Maxhodges commented on #26
thank you! @roonyh

[2016-06-28 14:27] #26 closed

[2016-06-28 22:53] kesne opened #29 "Option to ignore components in source viewer"
Sometimes, I have a wrapper around components to help their presentation, but they aren't relevant to source inspection. Would it make sense to add either a prop or some sort of array to define components you want to ignore?

[2016-06-29 14:58] jschloer opened #33 "Inline component view affects component styling"
When using inline component view, the styling of the info pane affects the styling of the component

[2016-06-29 17:45] kevinSuttle opened #35 "Display possible PropTypes.oneOf values"
[code]

Here's what I would expect to see, given the following story.

[code]

| property | propType | default | oneOf | required |
| --- | --- | --- | --- | --- |
| `type` | `string` | `page` | `page` `modal` `section` `sub` | <span color="red">true</span> |
|  |  |  |  |  |

[2016-06-29 17:47] arunoda commented on #35
We'd like to do that. But, it's not possible to get this at runtime without hijacking PropTypes code.
That's why it's not there now.

@mnmtanish @roonyh May be we need to hijack PropTypes to get these.

[2016-06-29 17:49] kevinSuttle commented on #35
Interesting.

[2016-06-29 17:50] kevinSuttle commented on #35
As an aside, I would love for these values to be selectable in the UI as well.

[2016-06-30 02:41] thani-sh commented on #35
If we did monkey patch PropTypes we can also handle array types and maybe more.

For the table, I think we can use the propType column instead of adding a new one.

[2016-07-07 18:32] kesne commented on #22
This should be done with #24.

[2016-07-07 18:32] #22 closed

[2016-07-07 18:36] jschloer commented on #33
Fixed with #34

[2016-07-07 18:36] #33 closed

[2016-07-13 17:11] eschaefer commented on #19
Hit the same issue here. The overlay containers need class names to be able to control this. I'll look at this later today.

[2016-07-13 17:53] kesne commented on #19
After some internal discussion with my team (thanks @majapw!), I think the best way to accomplish this would be to wrap the children in a div with `position: relative;` and `z-index: 0`. This will "trap" all of the child content so that the overlay will always appear on top.

[2016-07-13 18:09] eschaefer commented on #19
@kesne That's a great fix. Since I've already got this PR open, I'll change it over to that.

[2016-07-15 14:46] kevinSuttle opened #39 "onClick={anonymous()} />"
This is what I see when adding `{action('clicked')}`.

<img width="461" alt="screen shot 2016-07-15 at 10 45 45 am" src="https://cloud.githubusercontent.com/assets/95672/16878158/71d072c2-4a79-11e6-9ee2-31661182630a.png">

[2016-07-15 16:41] aray12 opened #40 "Added content wrapped in decorator"
So if I want to provide some styling just to the component. The following example will center everything, including what addon-info adds

[code]

Thoughts?

[2016-07-18 08:47] #19 closed

[2016-07-18 09:34] thani-sh commented on #19
Merged the PR sent by @eschaefer with release `v3.1.1`. Tested and it seems to work fine. I'll close this issue now.

[2016-07-18 09:52] thani-sh commented on #40
Yeah, that messes things up pretty bad. I think we should let addon developers decide that. How about exposing 2 new methods `addRaw` and `decorate` in addition to `add`?

cc: @arunoda

[2016-07-18 10:28] thani-sh commented on #39
Released `@kadira/storybook v1.38.3` which should say

[code]

[2016-07-18 11:36] thani-sh commented on #20
@kesne The [react preset](https://babeljs.io/docs/plugins/preset-react/) already has this transformer but unfortunately it only works for `React.createClass` expressions. Found this [plugin](https://github.com/researchgate/babel-plugin-react-class-display-name) but It should be tested well if we're going to use it. And we also have stateless functional react components to handle.

[2016-07-20 04:24] arunoda commented on #40
@mnmtanish basically we need some options to do this:
- apply decorators
- do not apply decorators

Is that? If so, I'm okay with a such an API.

May be an option to the `.add` as `byPassDecorators`.

[2016-07-21 04:20] thani-sh commented on #40
With the option users can only bypass decorators. With `addRaw` and `decorate` users can apply decorators exactly where they want. And adding an options object to the add method would make the API look terrible.

[2016-07-21 18:16] kevinSuttle opened #42 "Cannot read property 'displayName' of undefined"
Been getting this every now and then. Can't find the source of it. Any ideas to help me track it down?

[code]

[2016-07-26 20:37] kevinSuttle opened #43 "build-storybook creates odd output in Source"
<img width="229" alt="screen shot 2016-07-26 at 4 34 52 pm" src="https://cloud.githubusercontent.com/assets/95672/17154444/0952ab46-534f-11e6-895e-7f437ef93bd4.png">

<img width="1435" alt="screen shot 2016-07-26 at 4 38 15 pm" src="https://cloud.githubusercontent.com/assets/95672/17154519/6229f9c2-534f-11e6-841b-74ce4d028173.png">

<img width="427" alt="screen shot 2016-07-26 at 4 34 44 pm" src="

[2016-07-26 20:39] kevinSuttle commented on #43
Does build-storybook set `NODE_ENV = production`?

[2016-07-26 20:43] kevinSuttle commented on #43
Or is it using my top-level webpack config and setting the `env` to `prod`, which triggers Uglify?

[2016-07-27 01:52] arunoda commented on #43
You need to set a displayName. See: https://github.com/kadirahq/react-storybook-addon-info/issues/26

May be @roonyh and answer if not.

[2016-07-27 02:34] kevinSuttle commented on #43
Yep. We figured this out right after. Thanks.

[2016-07-27 02:34] #43 closed

[2016-07-30 07:51] RD1991 commented on #42
Same error here ->

Possible Unhandled Promise Rejection (id: 1):
StaticRenderer.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.
Invariant Violation: StaticRenderer.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.
    at invariant (h

[2016-07-30 08:20] arunoda commented on #42
@roonyh could you work on a fix for this?

[2016-07-30 13:29] kevinSuttle commented on #42
Explicitly setting a display name in my components seemed to have fixed it. This may be related https://github.com/kadirahq/react-storybook-addon-info/issues/43

[2016-08-02 05:41] roonyh commented on #42
This does happen on some cases when a component used inside the story is actually `undefined`.  I will try to see if its possible to give a more helpful error message.

[2016-08-02 09:30] shenrenguo opened #44 "Can not support react-css-themr friendly"
cannot identift the source & props of themed component(react-css-themr)

[2016-08-05 14:45] mthuret opened #46 "Add ability to add tests to stories and display them as specification"
Hello,

I made some developments on a [fork of this repository](https://github.com/mthuret/react-storybook-addon-info) in order to be able to add tests to stories and display them as specifications. The goal is to build a living documentation based on what was already there with react-storybook. You can find some information about the idea in [this medium draft](https://medium.com/@mlthuret/5f11f0

[2016-08-05 16:05] #39 closed

[2016-08-07 13:27] tleunen opened #47 "Invalid prop `propTables` of type `boolean`"
According to the documentation, and [this line](https://github.com/kadirahq/react-storybook-addon-info/blob/master/src/components/Story.js#L227), `propTables` can be a boolean and equals to `false` when we don't want to display the proptypes in the story.

But then, [this line](https://github.com/kadirahq/react-storybook-addon-info/blob/master/src/components/Story.js#L304) says only an array can b

[2016-08-09 08:29] roonyh commented on #46
This is interesting! Just read your medium draft and the readme. Did not try this out yet. Looks like this could be an addon on its own. Something like this is discussed on the main repo [here](https://github.com/kadirahq/react-storybook/issues/266). Will try this out.

[2016-08-09 08:49] MrOrz opened #48 "Support Immutable.JS props / customize props serializer"
Currently, when ImmutableJs instances are passed to props or set as default props, cryptic information may be shown:
![2016-08-09 12 18 41](https://cloud.githubusercontent.com/assets/108608/17509945/1deb067e-5e4f-11e6-97e2-a44432fa5926.png)

Currently I have temporarily [monkey-patched `<PropVal />`](https://github.com/MrOrz/react-storybook-addon-info/commit/c74d6d97ebb59d526b012c37089e11498b7fe6f

[2016-08-09 10:00] arunoda commented on #46
@mthuret This is pretty cool. I think you could get a good result by using our new addon API. With that, we can have a separate panel to show the test output. We are working on the docs and @mnmtanish  will show you how to get started.

In the long term, we need to find out a way to run these on the server or do something. But we don't need to worry about it now.

Anyway, even at this stage this p

[2016-08-09 11:46] mthuret commented on #46
Alright I can make a new addon using the new api to display the tests results on a new panel (using [this](https://github.com/kadirahq/storybook-addon-hello) to start).

Regarding the way to add some information to stories, do you plan to keep the same way that you use in the info addon (adding a new add function), or you're going to change that either ? Correct me if I'm wrong but if I create a n

[2016-08-09 12:40] thani-sh commented on #46
Yes, we can only use one add function at a time. The add function method is quite limiting so we're planning to deprecate it in the future. For the specs addon, let's try not to use an add function.

I'm still not quite sure of a good API for specs addon but this is what I could think of at the moment.

<details>
<summary>

API Idea 1 - story variable</summary>

[code]

</details>

[2016-08-10 08:18] mthuret commented on #46
Thanks, I almost port everything into a new addon.

One last thing thought, what's the proper way to know when the user has changed the displayed story within the addon ? I need that to refresh the specifications panels, in case no specs where provided by the user.

Edit : I currently use the event "setCurrentCategory" to refresh specs panel.

The plugin is now live here : [https://github.com/mthu

[2016-08-10 13:43] thani-sh commented on #46
The `api` variable you receive when registering an addon has an `onStory` function. I see you're already using it [here](https://github.com/mthuret/storybook-addon-specifications/commit/b7e91b26583f265be0f36a87b8ba5ceba3f1be41#diff-fcc13526882f7afed9fcf63d473ebf9fR14).

React Storybook exports a `getStorybook` function which I guess can be useful for the CI integration.

[code]

[2016-08-10 13:48] mthuret commented on #46
Yes, i tried to use that one first, but it appears that when I tried to use the addon on another project, the callback on the storybook side wasn't called anymore (only the one on the addon side was called). So that's why I switched to the "setCurrentCategory" event. Maybe I was doing something wrong, i don't know...

thanks for the getStorybook function, I'll take a look at it.

[2016-08-11 04:28] thani-sh commented on #46
The `api.onStory` function used to only support a single handler. This issue is fixed from react-storybook v2.2.1. Can you update the react-storybook module and try again?

[2016-08-11 05:14] WiNloSt opened #50 "Production build display wrong component name"
# Scenario
In component info's `Story Source` and `Props Table` section, when using production build (and use static server to serve build files), component name is display as `t`. This happens because `UglifyJsPlugin` rename the component's constructor function name. When I remove `UglifyJsPlugin` from Webpack config, the component name is rendered as expected.

# Actual result
Component name in

[2016-08-11 05:17] thani-sh commented on #46
We have a new Slack group for storybooks. We have a slack channel for addon developers there #addons. You can sign-up [here](https://storybooks.slack.com/signup).

[2016-08-11 05:57] thani-sh commented on #50
Released `v3.1.3` with a fix

[2016-08-11 08:23] mthuret commented on #46
@mnmtanish It looks like I need an invitation or kadira.io email address to access it :)

[2016-08-11 08:27] thani-sh commented on #47
Released `v3.1.4` with a fix

[2016-08-11 08:33] thani-sh commented on #46
Sorry about that. Try this link https://storybooks-slackin.herokuapp.com/

[2016-08-11 13:03] #46 closed

[2016-08-14 11:42] thani-sh commented on #50
I think we can close this issue.

[2016-08-14 11:42] #50 closed

[2016-08-14 12:30] thani-sh commented on #42
Handled false values with this PR https://github.com/kadirahq/react-storybook-addon-info/pull/56
@kevinSuttle can you try again?

Edit:
Released `v3.2.1`

[2016-08-14 12:37] thani-sh commented on #47
Closing this issue because its fixed

[2016-08-14 12:37] #47 closed

[2016-08-14 20:57] FarhadG opened #57 "propTables: [SampleComponent] renders an extra "e" undefined type component"
I have the following snippet:

[code]

... which renders:

[code]

The first is correct, however, I'm not sure why the `e` type component is also displayed. It seems like it's picking up the minified version of the component as well. I'm exporting two different components, one that is wrapped with several higher order functions and the one that is the base react component class. That's the one I'm

[2016-08-17 18:52] kevinSuttle commented on #42
I haven't seen this behavior in awhile. If you can't reproduce, feel free to close. Thanks for looking into it!

[2016-08-23 16:15] kevinSuttle opened #58 "Refresh produces blank page"
This is the URL I get for some reason. Refreshing causes a blank page.

`http://localhost:9001/?selectedStory=&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel&`

[2016-08-23 19:50] roonyh commented on #58
Thanks. Reproduced. This is a bug in the storybook-ui. Will try to ship a fix soon. Working on it on kadirahq/storybook-ui/pull/32

[2016-08-23 20:35] FarhadG commented on #57
So, I applied `displayName`, `propTypes` and `defaultProps` to the exported module, since it was wrapped with a few other higher order functions.

[code]

[2016-08-23 20:35] #57 closed

[2016-08-24 00:54] kevinSuttle commented on #58
Thanks!

[2016-08-24 06:49] FarhadG opened #59 "Specifying a propTable still renders two prop docs"
I'm currently exporting the component along with a wrapped version (`default` export) so that I can document the component in isolation, since the `default` one that is wrapped with several other higher order functions doesn't provide reference to the `propTypes` for react-storybook to use.

For example:

[code]

I'm using the `{ SampleComponent }` import for documentation purposes, however, I get

[2016-08-24 07:15] arunoda commented on #58
@kevinSuttle could you update @kadira/storybook to the latest. (v2.4.1 or higher)
It has a fix for this issue.

[2016-08-24 13:39] kevinSuttle commented on #58
Woot. Fixed. Thanks folks!

[2016-08-24 13:39] #58 closed

[2016-08-29 16:15] BartKrol commented on #20
Any update on that one :)? We wanted to use this addon for documentation and it would be really useful not to ugilfy things on default (or if we could run build with a flag or something) :).

[2016-08-30 05:08] thani-sh commented on #20
Until we can find a good babel transformer to preserve component names, we have to use the `displayName` property when creating react components.

[2016-09-04 15:26] jimthedev opened #60 "Make proptypes optional"
If I don't use proptypes it'd be great to be able to disable the output to the user staying that proptypes were not found.

[2016-09-04 19:06] travi opened #61 "register with greenkeeper.io"
similar to https://github.com/kadirahq/react-storybook/issues/267

really, it would be great if this were done for all packages published under the scope, but since I use this one directly, I'm most interested in this one getting registered.

[2016-09-08 20:40] vidaaudrey opened #63 "Higher Order Component lost the name after build/publish"
Local version:
![image](https://cloud.githubusercontent.com/assets/10999093/18365909/65fa4236-75c9-11e6-9e43-ae7e05930751.png)

Published version:
![image](https://cloud.githubusercontent.com/assets/10999093/18365968/a65c08b4-75c9-11e6-9fc8-55f1c4bfdc1c.png)

[2016-09-09 00:30] thani-sh commented on #63
Hi @vidaaudrey
Component names are getting minified. You can work around this by adding a displayName property to your Component.

Related: https://github.com/kadirahq/react-storybook-addon-info/issues/26

---

@roonyh @arunoda
I guess we should start an FAQ section on README with this issue

[2016-09-09 01:52] arunoda commented on #63
Yep do that.

[2016-09-12 04:34] vidaaudrey commented on #63
Thanks

[2016-09-13 04:00] #63 closed

[2016-09-14 00:27] mlabrum opened #64 "React native storybook"
Hello,

I was wondering if there is any plans to support https://github.com/kadirahq/react-native-storybook

Cheers,

[2016-09-15 17:39] #42 closed

[2016-09-15 17:40] kevinSuttle opened #67 "Design suggestion: keep component alone in render area, move info to right panel"
Just an idea.

[2016-09-15 17:48] thani-sh commented on #67
Yeah totally agree with you on that. If we do that, it'll be possible to use this addon with React Native Storybook. Also check these similar addons:
- https://github.com/kadirahq/storybook-addon-notes
- https://github.com/mthuret/storybook-addon-usage

It'll be great if someone writes an addon to display component prop information

[2016-09-15 18:17] kevinSuttle commented on #67
Do you have a guide for configuring/contributing to this addon? I know it uses the RCK.

[2016-09-16 00:29] arunoda commented on #67
I think it'll be a new addon. Check our addon docs: https://getstorybook.io/docs/addons/writing-addons

If we are doing this, I think it's a pretty good idea to provide a way to pass [`react-docgen`](https://github.com/reactjs/react-docgen) to parse the source code and get the propType information.

[2016-09-16 13:49] tleunen opened #73 "Show real sources instead of "compiled" source with HoC"
At first, I thought the plugin was showing the real sources of a story (the exact code that a story contains), but in fact it's showing the sources from the used components, or compiled sources.

Lets say I have this code and this story:

[code]

but if MyComp is actually something using HoC, the rendering won't be

`<MyComp />` but `<EnhanceComp />`

It would be best to keep showing `MyComp` inst

[2016-09-17 14:00] joehua87 opened #74 "Support flow type props validation"
Thank you for your awesome library.

Did you have any plan to support:

[code]

together with

[code]

[2016-09-19 13:36] dimaip commented on #73
Even worse, in my case it may turn into something like this:

[code]

So it would also be good to specify the exact component, the way it works with `propTables`.
Related to #44

[2016-09-22 12:54] tleunen commented on #73
@dimaip There's an easy way to fix the issue, what I've been using now for these components is something like:

[code]

[2016-09-22 13:17] tleunen commented on #20
Maybe the addon could force webpack ulgify to have the `keep_fnames` option set?
Until we get a better solution...

Or a way to disable uglify?

[2016-09-22 18:48] ljharb commented on #20
There's no reason to mangle function names. Can we just stop doing that?

[2016-09-23 04:45] roonyh commented on #20
Minifying the js is important when deploying a storybook.

This problem will go away by defining a `displayName` for the component. Having a display name should help with other development tools like react dev tools as well.

[2016-09-23 05:11] ljharb commented on #20
@roonyh why? storybooks are for development, not production. There's literally no benefit in ensuring they load a few ms sooner.

Separately, react dev tools uses the function name when present - if uglify isn't used to mangle function names, no redundant displayName property is needed on class-based components or SFCs.

[2016-09-23 05:15] arunoda commented on #20
@ljhard I think minifying is important even this is a dev tool.
We have users who use Storybook for code reviewing and people other than developers use the deployed version.

I think we can stop magaling function names still use JS minification.

[2016-09-23 05:16] ljharb commented on #20
@arunoda i'm not saying don't minify, i'm just very skeptical that there's any benefit of minifying storybook. Certainly simply "not mangling function names" seems like it will vastly improve this situation.

[2016-09-23 05:17] roonyh commented on #20
@ljharb This only happens when a storybook is built for deployment using "build-storybook", not when used for development. Are you seeing this when in development as well?

[2016-09-23 05:19] arunoda commented on #20
I think we can do this directly on Storybook to stop mangaling.

As a better solution, we are looking into build a babel plugin which parse the source code via react-docgen and save that info in a property in the React Class or Stateless function.

Until we have that, we can stop mangaling.
@roonyh could you try that uglify js flag in main storybook repo.

[2016-09-23 05:21] roonyh commented on #20
@arunoda Sure. Will look into it.

[2016-09-23 05:24] ljharb commented on #20
@roonyh what i mean is, even when using `build-storybook`, the resulting "production" storybook site is still used as documentation/a playground for developers. storybook is a developer tool, and imo never really has production requirements.

[2016-09-23 05:30] roonyh commented on #20
@ljharb Ok. I understand. I am looking into providing a flag to stop uglifying. Or to keep function names as is by default.

[2016-09-23 11:10] roonyh commented on #20
@ljharb Published storybook v2.18.1 that does not mangle names.

[2016-09-23 12:19] tleunen commented on #20
I confirm the issue is resolved with storybook 2.18.1

[2016-09-29 21:44] kevinSuttle opened #100 "Discussion: Component metadata"
I built this thing, and it got me thinking: what if we could use a Markdown file with front-matter?

![u9yyd9un1i](https://cloud.githubusercontent.com/assets/95672/18980460/9253d100-86a2-11e6-82f4-7e7eb5f52679.gif)

**Maybe a structure like this:**
Buttons.js
Buttons.css
Buttons.md

[code]

*You can do this in Webpack like this:

[code]

[2016-09-29 22:46] bernardodiasc commented on #100
Hey @kevinSuttle, I managed to make this work using https://github.com/kadirahq/storybook-addon-notes/, the same approach works for the addon Info (was using it before include the addon notes).

![screenshot-localhost 9001 2016-09-20 08-29-20](https://cloud.githubusercontent.com/assets/131859/18974835/38e32470-867c-11e6-91a9-d65b3482967b.png)

One small difference is the `replace()` little hack th

[2016-09-30 05:17] kevinSuttle commented on #100
https://github.com/jxson/front-matter looks perfect

[2016-09-30 05:43] arunoda commented on #100
@kevinSuttle that's great.
@madushan1000 is also working on a babel-plugin which automatically adds propType information to any React class.

It uses react-docgen behind the scene.

For an example, once it's there you could get these from any React class like this:

[code]

[2016-09-30 20:07] bernardodiasc commented on #100
https://github.com/elliottsj/front-matter-loader this works fine too

[2016-10-02 09:01] pascalduez opened #105 "Consider implementing the `register` API"
Hi,

would be nice to align with other addons and be able to register all addons the same way, in the same file (`.storybook/addons.js`).

[code]

[2016-10-04 02:10] arunoda commented on #105
The thing is this is a just a React component and you don't need to add it to the `addons.js` at all. Just import it and use it.

Anyway, we are planning to use Storybook's platform features soon and then we'll follow this pattern.

[2016-10-04 02:10] #105 closed

[2016-10-04 08:03] pascalduez commented on #105
[code]

vs

[code]

What the end user uses is not a component, but a method.
Would be nice to just register the addon and have the `addWithInfo` method available for all stories.

Just feedback, feeling about consistence, no big deal.

[2016-10-04 11:09] jzaefferer opened #108 "Configurable defaults"
For our storybook we'd like to use this addon for all stories featuring components, but we don't want to pass our preferred options (`{ header: false, inline: true }`) for every `addWithInfo` call. We've found a workaround, wrapping the object passed to `setAddon` like this:
[code]
A way to set these defaults directly would be much nicer. And less likely to break with updates of either API.

[2016-10-05 15:12] kevinSuttle commented on #100
@bernardodiasc Did you open a PR on https://github.com/kadirahq/react-storybook-addon-info/ to add Markdown?

[2016-10-05 18:07] bernardodiasc commented on #100
No, it's working fine importing the md content right in the story.

[2016-10-07 12:26] madushan1000 commented on #100
[babel-plugin-react-docgen](https://github.com/kadirahq/babel-plugin-react-docgen) automatically adds the output of `react-docgen` as a class property to the transpiled code of the react component.
[react-docgen-sample](https://github.com/kadira-samples/react-docgen-sample) is a sample storybook works with the plugin. This is a [Live demo](https://kadira-samples.github.io/react-docgen-sample/) of

[2016-10-18 11:04] madzhup opened #111 "TypeError when node is number"
When node is number it throws:
[code]
Created PR to fix this #110

[2016-10-19 00:10] #111 closed

[2016-10-19 09:16] thani-sh commented on #111
Released `v3.2.3`

[2016-10-19 13:00] garamond opened #112 "dist/index.js is missing in v.3.2.3"
v3.2.3 cannot be used because the `dist` directory is missing from the NPM package, resulting in an error:

`Module not found: Error: Cannot resolve module '@kadira/react-storybook-addon-info'`

[2016-10-19 13:27] andywer commented on #112
Looks like it was already broken in `3.2.2`. `3.2.1` works.

[2016-10-19 13:45] thani-sh commented on #112
Thanks @garamond and @andywer. I'll check it out right away

[2016-10-19 13:50] #112 closed

[2016-10-19 13:52] thani-sh commented on #112
Released `v3.2.4`

[2016-10-19 14:07] andywer commented on #112
Awesome! :)

[2016-10-19 14:22] andywer commented on #108
@jzaefferer Suggestion: A rather simple fix could be to make `@kadira/react-storybook-addon-info/index.js` additionally export a method `changeDefaults(newDefaults)`. `newDefaults` then get merged into the existing defaults.

This way all existing code does not need to be touched. How about that?

[2016-10-19 14:30] jzaefferer commented on #108
That sounds good to me. Maybe `setDefaults` instead?

[2016-10-19 14:48] andywer commented on #108
I also thought about `setDefaults`, but that sounds like "drop all previous defaults and use these instead". Doing an `Object.assign()` on the existing ones would be the way to go, though, I think.

(Dropping all previous defaults could very easily break stuff)

[2016-10-19 14:49] andywer commented on #108
But you are right. Maybe there's still some better name...

[2016-10-19 18:41] jzaefferer commented on #108
I can't find any good examples for either name. The one I found for `setDefaults` I wrote myself years ago, not sure if that counts: https://jqueryvalidation.org/jQuery.validator.setDefaults/

[2016-10-20 12:07] andywer commented on #108
@jzaefferer Yeah, I guess `setDefaults` works, too.

Any opinions on this from the maintainers? @garamond @mnmtanish

[2016-10-20 12:39] thani-sh commented on #108
I'm perfectly fine with `setDefaults` . I guess it can be understood in 2 ways:
1. set this options object as defaults
2. set these options (given as a map) as defaults

For another example, MongoDB update operator $set works field by field. I'm not sure this is a good example as it's just `set` not `setSomething`

[2016-10-20 20:17] #108 closed

[2016-10-21 15:15] jzaefferer commented on #108
Thanks!

When should I expect a new release with that change? (would be nice if I could watch only release for this repo...)

[2016-10-21 17:24] gnarf commented on #73
You can also use `displayName` on the class which is what the react debugger / this addon will use to "name" a class:

[code]

[2016-10-21 17:34] gnarf commented on #73
I was digging into using the "real" source - but it's basically impossible unless you separate each story into it's own `.js` file and then just use webpacks `raw-loader` to load the source... I kind of hacked around and did something like this:

[code]

Found out it works, but how much do we REALLY want that? :)

[2016-10-21 17:38] arunoda commented on #100
@kevinSuttle extending what @madushan1000 mentioned, we now have [fully integrated react-docgen with storybook](https://voice.kadira.io/component-metadata-react-storybook-ac0b218a2203#.w253h385s). See [here](https://voice.kadira.io/component-metadata-react-storybook-ac0b218a2203#.w253h385s).

[2016-10-21 23:55] Bjvanminnen opened #115 "breakIntoNewLines should be configurable"
https://github.com/kadirahq/react-storybook-addon-info/blob/master/src/components/Props.js#L27

I'd like to make our components always break into new lines (regardless of number of properties). Without having spent a lot of time looking at this code, it seems like the best way to do this would be to add a prop to `Node` that gets passed through to `Props` that is either a bool `alwaysBreakIntoNewL

[2016-10-24 09:14] mnmtanish opened #116 "Add info about setDefaults on README file"
This addon supports setting default options using `setDefaults({ ... })` from `v3.3.0`. Add an example to the README with a list of available options.

[2016-10-24 11:34] jzaefferer commented on #116
Docs would be welcome. I just tested the new method and the `setDefaults` call doesn't seem to do anything. Excerpt from my config:

[code]

Am I missing something?

[2016-10-24 12:59] thani-sh commented on #116
Hi @jzaefferer,
It should work fine if it runs before loading story files. Are you `require`ing story files inside the function you pass to `configure`?

Here's an example repo:
https://github.com/mnmtanish/react-storybook-addon-info-setDefaults

[2016-10-24 13:14] jzaefferer commented on #116
Yeah, I'm calling `setDefaults` before loading story files (via `require`/`configure`).

Thanks for the example repo. Hopefully that helps in figuring out what I'm doing wrong.

[2016-10-26 16:04] gnarf commented on #73
This is the more generalized code I was using in my storybook index.js: https://gist.github.com/gnarf/ea9bd0f76e36516b6f1f38e4aba542a3

I'm using this to export real "example code" for the story

[2016-10-26 16:05] gnarf commented on #116
LMK if you figure this one out @jzaefferer I was having this same problem :)

[2016-10-26 17:12] jzaefferer commented on #116
Still haven't got this working :/ Also 👋 @gnarf

[2016-10-27 00:38] thani-sh commented on #116
@jzaefferer @gnarf do you have an example repo I can check?

[2016-10-27 00:46] thani-sh commented on #73
~~@madushan1000 is it possible to attach the source code with the component using the [docgen plugin](https://github.com/kadirahq/babel-plugin-react-docgen)?~~
( bad idea! )

[2016-10-27 20:04] ShockiTV commented on #100
And react-docgen itself have markdown [generator](https://github.com/reactjs/react-docgen/blob/master/example/generateMarkdown.js) in examples, but it is under FB license

[2016-10-27 20:13] kevinSuttle commented on #100
@madushan1000 Live demo is 404ing

[2016-10-27 20:14] kevinSuttle commented on #100
Also, I'm not wanting to _generate_ markdown. I'm wanting to parse it.

[2016-10-28 05:31] madushan1000 commented on #100
@kevinSuttle looks like it's a problem with githubs end. alternatively, clone the repo and checkout the gh-pages branch.

[2016-11-01 04:33] tomitrescak opened #118 "Broken Markdown support"
When I define my story as following, everything from the second line is considered to be "code" example:

[code]

[2016-11-01 08:08] eskimoblood opened #119 "Improve prop documentation (use react-docgen)"
Is there a way to add a description to a prop?
Is there a way to determinate the order in which props are rendered?

[2016-11-05 01:50] arunoda commented on #119
Now we support [React Docgen](https://voice.kadira.io/component-metadata-react-storybook-ac0b218a2203#.qphz37cdb).
So, we could try to render get propInfo from that.

@roonyh we should do something like this.
If someone would like to work on this, we are super happy.

[2016-12-05 07:01] phthhieu commented on #119
@eskimoblood @arunoda @roonyh Could you guys take a look at this PR? https://github.com/storybooks/react-storybook-addon-info/pull/122

[2016-12-05 09:41] arunoda commented on #119
@phthhieu this is great. I reviewed it.

[2016-12-13 06:07] tuchk4 opened #123 "Support all propTypes (shape, arrayOf, oneOf)"
It would be great if support all propTypes:

- shape
- oneOf
- arrayOf

etc.

I know that implementation is not possible but I created related issue (feature request) at React repository. If all is OK - I will be able to make PR with this feature implementation.

https://github.com/facebook/react/issues/8310

[2016-12-15 07:48] arunoda commented on #123
I'm not sure this will land to React or not.
Anyway, if React does support it we are glad to have that on here.

[2016-12-15 11:53] elisherer commented on #123
You could potentially try to run all the prop type checks with several combinations of values and based on the PropTypeError object returned (like checking the message with a regex) you could determine what kind of prop type was used.

[2016-12-15 13:37] tuchk4 commented on #123
yes, but this is way is like "workaround"

[2016-12-15 15:17] elisherer commented on #123
That's why I said "potentially", also it will not work in production builds (if you make your static storybook use production environment). But a nice touch for most use cases without changing React's code. could be easily changed/reverted if broken by future versions of React.

[2016-12-17 12:28] zzarcon opened #126 "Update demo url"
Hi there, thanks for the project.

I just realized that your are currently pointing to https://kadirahq.github.io/react-storybook-addon-info/  in the repo url which no longer works, I think we just need to replace it with https://storybooks.github.io/react-storybook-addon-info.

[2016-12-18 17:32] linonetwo commented on #64
Now it will throw ```undefined is not an object (near 'ked-xxxxx')}));)```

[2016-12-23 11:33] darioghilardi commented on #73
I just pushed #127 trying to provide a solution for this issue. If you want to provide some feedback it would be great.

[2016-12-28 18:44] airtoxin opened #128 "Lose component name at build time."
Hi,
I build and published my storybook with this addon.

[Repository](https://github.com/airtoxin/react-hex)
[Storybook](https://airtoxin.github.io/react-hex)

but this addon lost component name.
`Story Source` shows `Unknown` component's source.
`Prop Types` shows `""` component's prop types.

In local preview, Those information are correctly shown.
<img width="517" alt="screenshot 2016-12-29 3 3

[2016-12-29 00:17] usulpro commented on #128
Hi! Will #26 help?

[2016-12-29 03:32] airtoxin commented on #128
Solved! thanks!

[2016-12-29 03:32] #128 closed

[2017-01-04 18:49] tuchk4 commented on #123
btw. I made PR to React so you can take part if you are interested in

* [facebook/react/issues/8310](https://github.com/facebook/react/issues/8310)
* [facebook/react/pull/8684](https://github.com/facebook/react/pull/8684)

[2017-01-07 19:54] HBCharles opened #129 "Display problem when installed with storybook-host"
The addon-info are displaying in the host area when storybook-host is installed :

![image](https://cloud.githubusercontent.com/assets/9991267/21744719/6c06203a-d51b-11e6-8da6-99e51d725260.png)

How can I display the component addon-info in fullscreen ?

[2017-01-09 12:35] marc-rutkowski commented on #67
This will be a good improvement when using this addon with the [storyshots](https://github.com/storybooks/storyshots) feature.

For now, snapshots created from stories by storyshots includes all the info markup instead of only the component's markup.

[2017-01-17 04:06] Koleok commented on #29
I have a similar issue when using [`withProps`](https://github.com/acdlite/recompose/blob/master/docs/API.md#withprops) from `recompose` which i do quite frequently. This actually makes the info addon sort of unusable for me, short of some heavy workaround that I find it hard to justify with deadlines pulsing in front of me haha.

However I **love** how it looks and the documentation it provides w

[2017-01-18 09:18] ghost23 opened #132 "source example: double curly braces"
Hi,

this is a rather low-priority issue I guess, but anyway: When I add this story:

[code]

I get this result in the "Story Source" part:

[code]

You see, in the `metaNavLinks` property array, around every link object are two curly braces instead of one.

[2017-01-20 11:26] RamonGebben commented on #35
Have their being any developments on this issue?
I'd also love to see this feature.

[2017-01-23 17:18] marc-rutkowski commented on #67
Here is an attempt to display components info (props & story) into panels
https://github.com/marc-rutkowski/storybook-addon-props

Any feedback is very welcome!

[2017-01-25 04:03] rohit-ravikoti commented on #64
Is native support planned for this at all? It would be very useful!

[2017-01-26 17:08] carlosrberto commented on #59
I think `propTables` should replace the default propTables

[2017-01-27 12:58] winkler1 commented on #126
Agreed -- demo link is the first thing I click on! Would do a PR but the demo link is not in code ;)

[2017-01-28 19:43] elisherer commented on #29
#125

[2017-01-29 06:01] elisherer commented on #35
Yes, I made a PR #134

[2017-01-30 17:41] FarhadG commented on #59
An approach I've found to be quite useful is to simply export the "wrapped" and "unwrapped" component so that I can not only use them to easily test the wrapped component (and its higher order enhancements) but also the bare component but also the ability to document the component with Storybook quite easily.

This resolves the double rendering issue as I use the unwrapped component for that porti

[2017-02-01 10:38] MoOx commented on #74
https://github.com/styleguidist/react-styleguidist handle this using react-docgen. The problem is that for now it's limited to babel5 parser... Until this is fixed https://github.com/reactjs/react-docgen/issues/125 / https://github.com/reactjs/react-docgen/pull/137 (so this https://github.com/babel/babylon/issues/278 / https://github.com/babel/babylon/pull/277)

[2017-02-07 11:18] ladas-larry commented on #48
Any progress on this one? Thanks

[2017-02-22 12:14] ankit-m opened #137 "Height of the information addon is just the height of the element"
If there is component with a small height, the info is not visible. There is a tiny scrollbar which appears on the right.

[2017-02-27 01:34] faceyspacey opened #138 "I love this addon--it needs an argument to skip tree levels to determine component to grab propTypes from"
So if you're wrapping your component in a `Provider` such as the one from Redux, your top level component is now 1 level from the top, and you won't see its propTypes on the info page.

It would be very nice if it at the very least had automatic detection of such a `Provider` component. Ideally though, it also has an option to specify levels from top, perhaps in the last argument to `addWithInfo`.

[2017-02-27 06:43] usulpro commented on #138
Hi!
I haven't personally used storybook with redux, but I think it's possible to put the provider in a storybbok decorator. Have you tried to do so? At least you'll get access to components of 1 level.
I'm not sure what can be done with the components wrapped in `select`, it seems there should be some kind of a special solution

[2017-02-27 06:58] faceyspacey commented on #138
I've used the decorator feature and it works. The only thing is I can't use that for what I'm trying to do. I've made it so the specifications add-on works with regular `describe/it` tests if you simply return a story component from your `it` calls. It's very nice and allows you to write your tests as normal, which is a big win in terms of confidence.

How exactly do you extract the propTypes? Are

[2017-02-27 08:34] usulpro commented on #138
Ok, if I understand you correctly, the problem with decorator is that you need to pass your story to `storybook-addon-specifications` via `let output = mount(story);`
Sorry if I'm wrong and maybe there should be a better solutions, but as a workaround you could try something like that:

[code]

and then you can pass the same store as in decorator:

[code]

[2017-02-27 08:44] faceyspacey commented on #138
The decorator will work, but I have an interface that allows the following:

[code]

I made the mocks differently so that it allows me to keep my tests almost the same, minus the harmless task of returning a react component from your `it` calls.

So the decorator is a no go since each test will have a different store. There are other less optimal options such as creating the store before describe

[2017-02-27 08:50] faceyspacey commented on #138
If you're interested in seeing what I'm up to, just paste these commands:

[code]

Then check these files:

THE TESTS:
https://github.com/faceyspacey/animated-transition-group/blob/master/stories/index.js

THE FACADE FOR STORYBOOK:
https://github.com/faceyspacey/animated-transition-group/blob/master/storybook/facade.js

THE FACADE FOR JEST:
https://github.com/faceyspacey/animated-transition-group/

[2017-02-27 08:55] faceyspacey commented on #138
check this:

https://twitter.com/wallabyjs/status/827059959728795648

notice the camera icon in the top right of the diff.

Wallaby runs your tests every character you type and provides all sorts of indicators of how the tests are performing and anything you log in realtime.

[2017-03-05 16:29] jiasaichao commented on #64
Is native support planned for this at all? It would be very useful!

[2017-03-06 10:35] Donaldini opened #140 "Styling of the info"
I was looking through the issues whether there was something about styling the content generated by the add-on, but couldn't find any previous info.

I did see [this post](https://github.com/storybooks/react-storybook-addon-info/issues/8) of @mnmtanish that showed a styled version of the info.

What would be the best and contained way of styling the add-on?

[2017-03-16 18:24] #17 closed

[2017-03-16 21:24] ilionic opened #141 "Code highlighting"
Based on example
https://github.com/storybooks/react-storybook-addon-info/blob/master/example/story.js#L71
Is it possible to enable highlighting for inline code? ( similar to how Story Source is displayed)

[2017-03-22 04:07] creeperyang opened #142 "Make title configurable"
Currently title and section's title are all hardcoded, it's great to give a way to change them.

[2017-03-29 17:00] noonian commented on #60
I discovered that you can set the `propTables` option to `null` to suppress the prop types UI.

[2017-03-29 17:37] usulpro commented on #60
Thanks for the help @noonian

(and here is an [example](https://github.com/storybooks/react-storybook-addon-info/blob/master/example/story.js#L60))

[2017-03-29 17:37] #60 closed

[2017-03-31 17:47] rphuber commented on #142
What titles are you referring to?  The component name at the top?

[2017-03-31 19:07] mdcorriveau opened #144 "Typescript compatibility"
Hi,

I'm currently converting my react application and storybook to typescript. I currently have a bunch of error with the addWithInfo which return this error :
TS2339:Property 'addWithInfo' does not exist on type 'Story'.

While react-storybook is already providing a storybook.d.ts file in their package, do you think it'll be a great idea to do the same with react-storybook-addon-info ?

Thanks

[2017-03-31 19:35] ndelangen commented on #144
Hey @mdcorriveau, thank you for reporting! Sounds you know a thing or 2 about typescript, would you be able to help us out by creating a PR?

[2017-04-01 03:50] creeperyang commented on #142
I means the hardcode part, such as

[code]

[2017-04-01 10:45] thani-sh commented on #144
I've never done this before but perhaps we can add a type definition file to this repo which will add the method to the story type. I found [this page](https://www.typescriptlang.org/docs/handbook/declaration-merging.html#module-augmentation) in typescript documentation about merging type declarations. I'll check it out and comment here.

[2017-04-02 14:30] mdcorriveau commented on #144
I'll take some time to check this out too this monday the 3rd, i'll get back at you if I've found something !

[2017-04-03 12:33] mdcorriveau commented on #144
https://github.com/storybooks/react-storybook/issues/33
https://github.com/storybooks/react-storybook/issues/700

Here's what the ts configuration of the original storybook module looks like :

declare var module: any; // dangerous

interface StoryDecorator {
  (story: Function, context: { kind: string, story: string }): Object;
}

interface Story {
    add (storyName: string, callback: Function):

[2017-04-08 11:13] thani-sh commented on #140
Related PR: https://github.com/storybooks/react-storybook-addon-info/pull/135

cc: @jbellsey

[2017-04-11 11:40] kudresov commented on #144
It would be good to fix this issue. As a temp workaround you could cast `storiesOf` to make TS happy like so: `(storiesOf('Story Name', module) as any).addWithInfo(..`

[2017-04-12 18:03] rota-rossi opened #145 "prop-types compatibility"
right now the addon does not recognize the propTypes if using the new prop-types module.

#### import {PropTypes} from 'react'
<img width="370" alt="screen shot 2017-04-12 at 13 50 44" src="https://cloud.githubusercontent.com/assets/7060081/24971775/14dd5506-1f87-11e7-8184-8416825b2b4c.png">

#### import PropTypes from 'prop-types'
<img width="396" alt="screen shot 2017-04-12 at 13 48 25" src="htt

[2017-04-13 12:13] #119 closed

[2017-04-23 01:50] markalfred commented on #123
If this doesn't land in React itself, it's not too difficult to extend the PropTypes object used by addon-info's props table, allowing you to access the proptype name. In [the `wrapPropTypes` function of this library](https://github.com/markalfred/react-generate-props/blob/master/src/main.js#L11) I do exactly that in order to generate values according to a component's proptypes recursively and for

[2017-04-23 08:59] elisherer commented on #123
How about changing the `PropTypes` object all together wrapping each of the functions to have it's name in it. This way you wouldn't have to put that generatePropTypes on your source, just on the addon-info source (or storybook).

[2017-04-23 16:29] markalfred commented on #123
Sorry, that's what the (linked) `wrapPropTypes` function is doing — I included the call to the `generatePropTypes` lib as a way to show that it's doing something similar to what addon-info would require.

[2017-04-24 06:38] elisherer commented on #123
Oh, so I liked the wrapPropTypes better.
Do that 😄 (notice storybook is now a mono-repo and this issue was duplicated: https://github.com/storybooks/storybook/issues/944)
Also there's a problem with addon-info.
https://github.com/storybooks/storybook/issues/954
maybe fix this one by the other...

[2017-04-24 19:27] markalfred commented on #123
Good call, as soon as I get some time I'll hit this. 👍

[2017-05-04 19:57] burabure commented on #145
~~so is this in the works? are PR's welcome?~~
https://github.com/storybooks/storybook/issues/954

[2017-06-14 08:55] DominiqueBertrand opened #147 "markdown-to-react-components is DEPRECATED and causes warning"
I noticed that markdown-to-react-components is DEPRECATED and replaced by https://github.com/cerebral/marksy.

By the way, it causes this Warning: A Component: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement.

Do you plan to switch to "marksy"

[2017-06-14 09:07] DominiqueBertrand opened #148 "Accessing PropTypes via the main React package is deprecated."
I get the following warning in browser console when using react-storybook-addon-info:

 `Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.`

This is caused by deprecation in React 15.5 described here https://facebook.github.io/react/docs/typechecking-with-proptypes.html

[2017-06-14 10:20] shilman commented on #148
@DominiqueBertrand if possible please upgrade to Storybook 3.0:

https://medium.com/storybookjs/announcing-storybook-3-0-329748b8f4cd

We currently don't have access to the `@kadira/*` npm packages, so it is unlikely that we will fix this soon. I believe this is already fixed in `@storybook/addon-info`.

[2017-06-14 10:21] shilman commented on #147
@DominiqueBertrand if possible please upgrade to Storybook 3.0:

https://medium.com/storybookjs/announcing-storybook-3-0-329748b8f4cd

We currently don't have access to the `@kadira/*` npm packages, so it is unlikely that we will fix this soon. We've already upgraded to `marksy` in `@storybook/addon-info`.

[2017-08-04 17:35] jebeck commented on #59
I'm having this issue as well and @FarhadG's recommendation does not work because I'm rendering a story for an SVG component (needs to be wrapped in an `<svg>` and this can't be done with a decorator as I would usually do because then the info addon HTML would also be inside the HTML and not get rendered).

So please, fix this bug so that a specified `propTables` takes priority over the rendered c

[2017-08-04 17:52] jebeck commented on #59
Update: by reading the source, I discovered that there's also a `propTableExcludes` option, and that's working for me! Still be better if I could specify a whitelist rather than a blacklist, but I'm glad there's a workable solution.

[2017-08-04 20:03] #44 closed

[2017-08-04 20:03] #48 closed

[2017-08-04 20:03] #59 closed

[2017-08-04 20:03] #61 closed

[2017-08-04 20:03] #64 closed

[2017-08-04 20:03] #67 closed

[2017-08-04 20:03] #73 closed

[2017-08-04 20:03] #74 closed

[2017-08-04 20:03] #100 closed

[2017-08-04 20:03] #115 closed

[2017-08-04 20:03] #116 closed

[2017-08-04 20:03] #118 closed

[2017-08-04 20:03] #123 closed

[2017-08-04 20:03] #126 closed

[2017-08-04 20:03] #129 closed

[2017-08-04 20:03] #132 closed

[2017-08-04 20:03] #137 closed

[2017-08-04 20:03] #138 closed

[2017-08-04 20:03] #140 closed

[2017-08-04 20:03] #141 closed

[2017-08-04 20:03] #142 closed

[2017-08-04 20:03] #144 closed

[2017-08-04 20:03] #145 closed

[2017-08-04 20:03] #147 closed

[2017-08-04 20:03] #148 closed

[2017-08-04 20:03] #11 closed

[2017-08-04 20:03] #12 closed

[2017-08-04 20:03] #18 closed

[2017-08-04 20:03] #20 closed

[2017-08-04 20:03] #29 closed

[2017-08-04 20:03] #35 closed

[2017-08-04 20:03] #40 closed

[2017-10-26 23:59] TimGraf commented on #145
I'm seeing this issue again in v3.2.13.

[2017-10-27 23:36] ndelangen commented on #145
Please open an issue on the main repository @TimGraf
https://github.com/storybooks/storybook

Please before you make an issue remove all node_modules and lockfiles and re-install.
Likely the issue will be resolved. If not, please do make an issue and we can take a look what's wrong.

Thanks!